.FormWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--module-background-color);
    border-radius: 20px;
    min-height: 80vh;
    width: 50vw;

    .FormWrapper__title {
        font-size: var(--title-font-size);
        font-weight: var(--medium-font-weight);
    }
}