.FormInput {
    padding: 10px;
    height: 24;
    margin-top: 10px;
}

.FormInput:focus {
    border-color: #6e96e3;
    outline: none;
}

.FormErrorsWrapper {
    padding: 0 20px;

    .FormErrors {
        margin: 0;
        text-align: left;
        color: red;
    }
}

.FormWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    height: 80vh;
    width: 50vw;

    .FormWrapper__title {
        font-size: 72px;
        margin: 0;
    }

    .FormWrapper__Form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 20px;
    }

    .FormWrapper__ButtonWrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

button {
    margin-bottom: 10px;
}

.LinkElement_black {
    color: black;
}