.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100vw;
    font-size: 18px;

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-top: 20px;
    }
}